[Unit]
Description=Bot Template
After=multi-user.target

[Service]
User=root
Group=admin
Type=simple
WorkingDirectory=/home/aiogram_v3_template
ExecStart=poetry run python -m tgbot.__main__.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
